# dependencias
/node_modules

# en produccion
/dist

# otras carpetas y archivos
.DS_Store
.env 
.env.local
.env.*.local

# IDEs
.vscode
.idea

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*